
body {
    background-image: url('images/bg2.jpg');
    background-size: cover; /* Puoi usare anche 'contain' o altre opzioni */
    background-position: center; /* Centra l'immagine */
    height: 100vh; /* Assicura che il body prenda tutta l'altezza della finestra */
    margin: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.logo h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
}

    nav ul li {
        margin-left: 20px;
    }

        nav ul li a {
            color: #fff;
            text-decoration: none;
        }

        nav ul li input {
            padding: 5px;
            border-radius: 4px;
            border: none;
            color: #333;
            background-color: #fff;
        }

#confirm-button {
    margin-left: 10px;
    padding: 5px 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    color: #333;
}

.apps,
.installed-apps {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}

    .apps h2,
    .installed-apps h2 {
        margin-top: 0;
        color: #ffffff; /* Cambiamo il colore del titolo a nero */
    }

.category h3 {
    margin-bottom: 10px;
    color: #ffffff; /* Cambiamo il colore del titolo a nero */
}

.category p {
    margin: 10px 0;
    display: flex;
    align-items: center;
    color: #ffffff;
}

.app-item {
    display: flex;
    align-items: center;
}

    .app-item img {
        margin-right: 10px;
    }

.app-icon {
    width: 40px;
    height: 40px;
    border-radius: 8px;
}

footer {
    margin-top: 220px;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    width: 100%;
    bottom: 0;
}

#search-result-bottom {
    margin-top: 20px;
}

#form-response {
    color: #333;
    font-weight: bold;
}

.contact-form {
    text-align: center;
    margin-top: 40px; /* Aggiungi margine superiore per spostare il modulo in basso */
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.contact-form-label {
    font-weight: bold;
    color: #888; /* Colore grigio per le etichette */
}

.form-control {
    width: calc(100% - 16px); /* Considera padding del 4% */
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #888; /* Colore grigio per il testo */
}

.btn-primary {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

    .btn-primary:hover {
        background-color: #0056b3;
    }

.contact-header {
    text-align: center;
    margin-bottom: 20px;
}

    .contact-header h2 {
        color: #fff;
    }
