
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: Arial, sans-serif;
    background-color: #333;
    color: #ffffff;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

body {
    background-image: url('images/bg2.jpg');
    background-size: cover; /* Puoi usare anche 'contain' o altre opzioni */
    background-repeat: no-repeat; /* Evita che l'immagine si ripeta */
    background-position: center; /* Centra l'immagine */
    height: 100vh; /* Assicura che il body prenda tutta l'altezza della finestra */
    margin: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.logo h1 {
    margin: 0;
}

input#search {
    border-radius: 20px;
    padding: 10px 15px;
}

#confirm-button {
    margin-left: 10px;
    padding: 5px 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    color: #333;
}

main {
    margin-top: 37px;
}

.navbar .navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar-nav .nav-link {
    font-size: 1.1rem;
    margin-right: 15px;
}

.navbar-nav .nav-item .input-group {
    margin-left: 20px;
}

.navbar-nav .nav-item .form-control {
    border-radius: 20px;
    padding: 10px 15px;
}

.navbar-nav .nav-item .btn {
    border-radius: 20px;
    padding: 10px 20px;
}

.main {
    padding: 20px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 800px;
    text-align: left;
}

.social-icons {
    display: flex;
    justify-content: left;
    align-items: left;
}

.social-icon {
    margin: 20px;
    display: inline-block;
    transition: transform 0.2s ease-in-out;
}

    .social-icon:hover {
        transform: scale(1.2);
    }

.social-img {
    width: 180px; /* Dimensioni delle immagini dei social più grandi */
    height: 180px;
    border-radius: 50%;
    margin-left: -75px; /* Bordi arrotondati */
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    width: 100%;
}