/* styles.css */
body {
    background-image: url('images/bg2.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin: 0;
    color: #333;
}

main {
    margin-top: 37px;
}

.apps, .installed-apps {
    background-color: rgba(255, 255, 255, 0.648);
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.category h3 {
    margin-bottom: 10px;
    text-align: left;
}

.card {
    border: none;
    border-radius: 15px;
    overflow: hidden;
}

.card-body {
    display: flex;
    align-items: center;
}

.app-icon {
    width: 60px;
    height: 60px;
    border-radius: 10px;
}

input#search {
    border-radius: 20px;
    padding: 10px 15px;
}

#confirm-button {
    margin-left: 10px;
    padding: 5px 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    color: #333;
}

footer {
    background-color: #333;
    color: #fff;
}

header {
    background-color: #333;
    color: #fff;
}

.navbar .navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar-nav .nav-link {
    font-size: 1.1rem;
    margin-right: 15px;
}

.navbar-nav .nav-item .input-group {
    margin-left: 20px;
}

.navbar-nav .nav-item .form-control {
    border-radius: 20px;
    padding: 10px 15px;
}

.navbar-nav .nav-item .btn {
    border-radius: 20px;
    padding: 10px 20px;
}

/* New CSS for search results */
.search-result-card {
    margin-bottom: 20px;
}

    .search-result-card .card-body {
        background-color: rgba(255, 255, 255, 0.648);
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

.search-result-img {
    width: 80px;
    height: 80px;
    border-radius: 10px;
}

.search-result-text {
    flex-grow: 1;
    margin-left: 15px;
}

.search-result-button {
    margin-left: auto;
}    text-align: center;
    padding: 10px 0;
    position: fixed; /* Posizione fissata */
    bottom: 0; /* In fondo alla pagina */
    width: 100%;
}
    padding: 10px 0;
    position: fixed; /* Posizione fissata */
    bottom: 0; /* In fondo alla pagina */
    width: 100%;
}
